@media (max-width: 600px) {
	.panel {
		width: 100% !important;
	}

	.panel .inner-container.content {
		height: unset !important;
		margin-bottom: 10px;
	}

	.panel {
  	margin-bottom: 45px;
	}
}


.cross-join-steps .owner-column {
	text-align: center;
	width: 120px;
}

td, th {
	padding: 0.4rem;
}

.cross-join-steps .operator {
	text-align: center;
	font-size: 24px;
	width: 40px;
}

.cross-join-steps .dog-column {
	text-align: center;
	width: 120px;
}

.code-block {
	max-width: 350px;
}

.removed {
  opacity: .2;
}

.removed td {
	border-color: #ddd;
}

.removed.next-present td {
	border-bottom-color: #999;
}

.lowlight {
	opacity: .4;
}

.added {
	background-color: #e3f7e2;
}

.panel .inner-container.content {
	padding: 8px 30px 0px 30px;
}

.sidebar-text {
  max-width: 450px;
}

.panel {
  border: 0px solid black;
}

.panel .text.has-text {
	border-bottom: 0px solid black;
}

.panel .text {
	padding-top: 10px;
	padding-bottom: 10px;
}
